
name: Production CI-CD

# THE TRIGGER: When should this run?
on:
  push:
    branches: [ "main" ]  # Only run when code is pushed to the main branch

# THE ENVIRONMENT: Where does the code run?
jobs:
    build-code:
      runs-on: ubuntu-latest
      steps:
          - run: echo "Building the project..."
     test-code: # This is a second job
        runs-on: ubuntu-latest
        steps:
          - run: echo "Running tests..."



