
name: Production CI-CD

# THE TRIGGER: When should this run?

on:
  pull_request:
    branches: [main]
  push:
    tags:
      - 'v*' # Runs when you push a tag like v1.0

# THE ENVIRONMENT: Where does the code run?
jobs:
    build-code:
      runs-on: ubuntu-latest
      steps:
          - run: echo "Building the project..."
    test-code: # This is a second job
        runs-on: ubuntu-latest
        steps:
          - run: echo "Running tests..."



